body {
    overflow: hidden;
    background-image: url('/images/libraryshelf.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: white; 
}

#gameMap {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#sprite {
    position: absolute;
    height: 5vh; 
    width: 5vh; 
    min-height: 50px; 
    min-width: 50px; 
    background: red;
}

.ladder {
    position: absolute;
    left: 15%;
    top: 0;
    height: 100%;
    width: 2.7vw; 
    min-width: 25px; 
    background: transparent;
    border-left: 2px solid brown;
    border-right: 2px solid brown;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 95%, brown 95%, brown 100%);
    background-size: 100% 25px;
}

.room {
    position: absolute;
    height: 10vh; 
    width: 10vh; 
    border: 4px solid orange;
}

#room1 { top: 10%; left: 20%; }
#room2 { top: 40%; left: 20%; }
#room3 { top: 70%; left: 20%; }
#room4 { top: 10%; left: 80%; }
#room5 { top: 40%; left: 80%; }
#stairs { top: 70%; left: 80%; }
